html, body {
  margin: 0;
  padding: 0;
}

.block {
  width: calc(100%/3);
  min-width: 250px;
  height: 76px;
/*  background-color:blue;*/
  float: left;
}
/* =================================
MEDIA QUIERIES
================================= */
@media (max-width: 749px) {
  .block {width: 100%;}
}
/* =================================
END OF JQUERIES
================================= */



.block2 {
  width: 20%;
/*  height: 80px;*/
/*  background-color:blue;*/
  float: left;
  min-width: 200px;
}
/* =================================
MEDIA QUIERIES
================================= */
@media (max-width: 999px) {
  .block2 {width: 25%;}
}

@media (max-width: 800px) {
  .block2 {width: 33%;}
  .hider {display: none;}
}

@media (max-width: 599px) {
  .block2 {width: 50%;}
}

@media (max-width: 399px) {
  .block2 {width: 100%;}
}
/* =================================
END OF JQUERIES
================================= */

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #404040;

  font-size: 29px;
  text-align: center;

  margin-top: 10px;
  margin-bottom: 0;
}

h1 > span {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #404040;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #b7b7b7;

  font-size: 17px;
  text-align: center;
  margin-top: 0;
}

.copy-color {
  /* get color */
  background-color: #754f44;

  height: 50px;
  width: 210px;
  border-radius: 25px;
  margin-top: 18px;
  margin-right: 20px;

  float: right;
}
/* =================================
MEDIA QUIERIES
================================= */
@media (max-width: 749px) {
  .copy-color {margin: 18px auto; float: none;}
}
/* =================================
END OF JQUERIES
================================= */


#colorhex {
  color: #fff;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 24px;

  margin: 0;
  padding-top: 7px;
  padding-left: 25px;

  float: left;
  }

#copybtn {
  color: #fff;
  cursor: pointer;

  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  opacity: 0.5;

  margin: 0;
  padding-top: 14px;
  padding-right: 25px;

  float: right;
  }

ul {
  list-style-type: none;
  margin-top: 30px;
  padding: 0;
  overflow: hidden;
}

li {
  display: block;
  text-align: center;
  text-decoration: none;
  float: left;

  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  margin-left: 20px;
  font-size: 17px;
  color: #b7b7b7;
}


svg {
  margin-top: 55px;
  margin-bottom: 15px;
}


#invisibleInput {
  display: none;
}